.academy-profile img{
    border-radius: 40px;
    border: 5px solid skyblue;
}
.practice-time{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}

.academy-card-one{

    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(156,29,253,1) 38%, rgba(252,176,69,1) 100%); 
    padding: 30px;
    display: flex;
    justify-content: center;
}
.academy-card-one h3{
    color: white;
}
.academy-card-one img{
    border-radius: 30px;
    border: 5px solid wheat;
}
.practice-date{
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    background-color: #af37ff;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.practice-date h2, p{
    color: white;
    font-weight: 400;
}
.center-position{
    display: flex;
    justify-content: center;
}
h1{
    font-weight: 600;
}