.players{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.players-bg{
  background-color: red;
  background-image: linear-gradient(to right,rgba(255,0,0,1), rgba(190, 100, 100, 0));
}

@media only screen and (max-width: 600px) {

  .players img{
    width: 100px !important;
    height: 100px !important;
    
  }
    .players {
      margin: -20px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }