.players{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}

.players-bg{
  background-color: red;
  background-image: linear-gradient(to right,rgba(255,0,0,1), rgba(190, 100, 100, 0));
}

.playerName p{
  color: rgb(95, 95, 95) !important;
  font-size: 12px !important;
}
.playerName{
  display: flex;
  justify-content: center;
}

.playerPic img{
  width: 100px;
  height: 100px;
  border-radius: 20px;
}

.players-banner{
  background: #c2e59c;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding: 30px;
border-radius: 20px;
margin-top: 20px;
display: flex;
justify-content: center;

}

.players-banner h2{
  color: white;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

@media only screen and (max-width: 600px) {

  .players img{
    width: 100px !important;
    height: 100px !important;
    
  }
    .players {
      margin: -20px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      
    }
  }